{{ if and (gt .WordCount 200 ) (not (.Params.notoc)) }}
<div class="card">
  <div class="card-header" style="padding: 5px 10px;">
    Contents
  </div>
  <div class="card-body">
    {{ .TableOfContents }}
    <p></p>
  </div>
</div>
{{end}}

<div class="card">
  <div class="card-header" style="padding: 5px 10px;">
    Share and Enjoy
  </div>
  <div class="card-body">
    <p class="menu">
      <!-- Non tracking sharing links from: https://sharingbuttons.io/ -->
      <i class="fab fa-twitter fa-fw" aria-hidden="true"></i> <a href="https://twitter.com/intent/tweet/?text=usync%20-%20rsync%20for%20cloud%20storage%20from%20%40njcw&amp;url=https%3A%2F%2Fusync.uit.com.cn" target="_blank" rel="noopener" aria-label="Share on Twitter">Twitter</a><br />
      <i class="fab fa-facebook fa-fw" aria-hidden="true"></i> <a href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fusync.uit.com.cn" target="_blank" rel="noopener" aria-label="Share on Facebook">Facebook</a><br />
      <i class="fab fa-reddit fa-fw" aria-hidden="true"></i> <a  href="https://reddit.com/submit/?url=https%3A%2F%2Fusync.uit.com.cn&amp;resubmit=true&amp;title=usync%20-%20rsync%20for%20cloud%20storage" target="_blank" rel="noopener" aria-label="Share on Reddit">Reddit</a><br />
      <iframe src="//ghbtns.com/github-btn.html?user=usync&amp;repo=usync&amp;type=star&amp;count=true" allowtransparency="true" frameborder="0" scrolling="no" width="120" height="20"></iframe>
    </p>
  </div>
</div>

<div class="card">
  <div class="card-header" style="padding: 5px 15px;">
    Links
  </div>
  <div class="card-body">
    <p class="menu">
      <i class="fa fa-comments fa-fw" aria-hidden="true"></i> <a href="https://forum.usync.uit.com.cn">Usync forum</a><br />
      <i class="fab fa-github fa-fw" aria-hidden="true"></i> <a href="https://github.com/rclone/rclone">GitHub project</a><br />
      <i class="fa fa-book fa-fw" aria-hidden="true"></i> <a href="https://github.com/rclone/rclone/wiki">Usync Wiki</a><br />
      <i class="fa fa-heart heart fa-fw" aria-hidden="true"></i> <a href="/donate/">Donate</a><br />
      <i class="fab fa-twitter fa-fw" aria-hidden="true"></i> <a href="https://twitter.com/njcw">@njcw</a>
    </p>
  </div>
</div>
