<a href="https://downloads.usync.uit.com.cn/{{ partial "version.html" . }}/usync-{{ partial "version.html" . }}-{{ .Get 0 }}-{{ .Get 1 }}.{{ if len .Params | eq 3 }}{{ .Get 2 }}{{ else }}zip{{ end }}" title="{{ .Get 0 }} {{ .Get 1 }} .{{ if len .Params | eq 3 }}{{ .Get 2 }}{{ else }}zip{{ end }}"><span class="fa fa-download fa-lg"></span></a>
